# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/

# Env files
.env
.env.local
.env.development
.env.production
# Manter templates no git:
!.env.template
!.env.example

# OS / editor
.DS_Store

# Project files
*.mpp

# Import reports
import_reports/
*.pem